body {
	background-color:paleturquoise;
}
h1 {
	color:black;
	font-family:helvetica;
	padding: 50px;
}
p {
	color:black;
	border: 2px dotted green;
}
#highlight {
	color:orange;
	background-color: green;
	border: 2px dotted green;
}
#top {
	background-color: red;
	float: left;
}
h3 {
	color: purple;
	background-color: white;
	border: 3px double pink;
}
img {
	border: 5px solud fuchsia;
	width: 25%;
	height: 25%;
	margin-left: 100px;
}
